<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{ description }}">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta name="keywords" content="{{ keywords }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="http://www.jujunyc.net/snack-juju/">
<meta property="og:image" content="http://www.jujunyc.net/snack-juju/ogp.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ title }}">

<link rel="canonical" href="" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./common/css/common.css">

<title>{{ title }}</title>
</head>
<body id=top class="wrapper {{ top_class }}">
{% include 'include/header.html' %}
<main>
{{ contents | safe }}
</main>
{% include 'include/footer.html' %}

<script src="./common/js/main.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
