---
layout: default.html
title: Qlockup|FORM
description:
top_class: form-page
keywords:
---
<div class="banner form-page-banner">
  <div class="banner-logo">
    <img src="common/images/form/form-banner-logo.svg" alt="">
  </div>
</div>
<div class="content-block content-form">
  <p>お名前</p>
  <input type="text"/>
  <p>電話番号</p>
  <input type="text"/>
  <p>職種</p>
  <select class="combobox" name="cars">
    <option class="content-selected" value="">選択して下さい</option>
    <option class="content-selected" value="">選択して下さい</option>
    <option class="content-selected" value="">選択して下さい</option>
    <option class="content-selected" value="">選択して下さい</option>
  </select>
  <div class="text_caution content-block">
    <h2 class="content-title-italic">CAUTION</h2>
    <div class="content-details content_caution">
      <p>ご入力頂いたお電話番号に後日、担当者からご連絡致し
      ます。連絡可能なお電話番号をご記入下さい。</p>
    </div>
    <a class="button-link" href="#">
      <div class="button">送信する</div>
    </a>
  </div>
</div>