---
layout: default.html
title: Qlockup|POST
description:
keywords:
---
<div class="container">
  <hr class="hr-custom">
  <div class="row content-block content-post">
    <h2 class="content-title-italic post-content-title">NEWS</h2>
    <div class="menu-list">
      <div class="col-sm-7 menu-list-item">
        <div class="product-news-image post-new-image">
          <img class="lazy" data-original="common/images/post/post1.png" alt="">
        </div>
      </div>
    </div>
    <div class="menu-list">
      <div class="col-sm-5 menu-list-item">
        <div class="product-news-text post-new-text">
          <p class="text-center content-detail-date">06/11/12</p>
          <p class="text-center content-details-title">【忘年会予約状況について】</p>
          <p class="content-news-info">11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。<br>
            すでにいくつかの日程が埋まってしまっていましたが、PENT HOUSE&熟成肉バル
            BISTECAではご予算に合わせていくつかのパーティープランをご用意しております。少人数でのクリスマス会や、大人数での店内貸切り、ちょっとリッチに熟成肉での肉パーティーでの忘年会など、お気軽にご相談下さいまぜ。<br>
            ぜひお店選びの参考にして頂ければと思います♪</p>
          <div class="content-detail-img">
            <img class="lazy" data-original="common/images/footer/footer-penhouse.svg" alt="">
          </div>
          <div class="clearfix"></div>
          <div class="row content-sns-icon">
            <div class="col-xs-3 content-sns-icon-item"><img class="icon-logo" src="common/images/post/post-facebook.svg"
                                                             alt=""></div>
            <div class="col-xs-3 content-sns-icon-item"><img class="icon-logo" src="common/images/post/post-twitter.svg"
                                                             alt=""></div>
            <div class="col-xs-3 content-sns-icon-item"><img class="icon-logo" src="common/images/post/post-google.svg"
                                                             alt=""></div>
            <div class="col-xs-3 content-sns-icon-item"><img class="icon-logo" src="common/images/post/post-b.svg"
                                                             alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-custom">

  <div class="row content-block">
    <h2 class="content-title-bold">recruit</h2>

    <div class="content-concept-list">
      <img class="lazy recruit-image" data-original="common/images/top/top-recruit.png">
      <div class="content-details">
        <p>一緒に働く仲間を募集中的なテキスト<br>
          テキストが入ります。<br>
          テキストが入ります。テキストが入ります。テ<br>
          キストが入ります。</p>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 recruit-button">
      <a class="button-link" href="#">
        <div class="button">リクリートページへ</div>
      </a>
    </div>
  </div>
</div>
