---
layout: default.html
title: Qlockup|PRODUCT
description:
keywords:
---
<!--Product Content-->
<div class="banner product-page-banner">
  <div class="banner-logo">
    <img src="common/images/product/product-banner-logo.svg" alt="">
  </div>
</div>
<div class="container">
  <!--News content-->
  <div class="row content-block content-product">
    <h2 class="content-title-italic">NEWS</h2>
    <h3 class="sp-only">最新号「青森とCOFFEE」発売中</h3>
    <div class="menu-list">
      <div class="col-sm-6 menu-list-item">
        <div class="product-news-image">
          <img class="lazy" data-original="common/images/product/product-news.png" alt="">
        </div>
      </div>
    </div>
    <div class="menu-list">
      <div class="col-sm-6 menu-list-item">
        <div class="product-news-text">
          <p>〜KONOHEN journal（コノヘン ジャーナル）〜 </br>
            このミニ雑誌は青森県で暮らす人々が楽しく過ごす方法を提案するロ
            ーカルに特化した新しいライフスタイルマガジン。ワンブック,ワンテ
            ーマで送る今号のテーマは"青森とCOFFEE"、県内の珈琲店紹介の他、
            コーヒーにまつわる内容でお送りしています。</p>
          <p class="content-small-title-italic"><span>contributed</span></p>
          <p>COFFEE COLORS / Cefe des Gitanes / 珈琲 虎ノ穴 / 自由木民族珈琲 /
            のみものや わんど / COFFEEMAN good / JustineCoffee / 和田珈琲 /
            あしたの森コーヒー / 函館美鈴青森店 / macchinetta cafe & zakka /
            白金珈琲 / うつわ 珈琲豆や 豆人 / cafe 0371 / 第二斎藤商店 /
            Mui / Pom / zilch studio / 野風パン / パン屋 といとい / SKIP EGG /
            KAMA'n'BAGLE / ATELIER BON / 安渡館カフェ 憩-ikoi-/ Bistro bille /
            USTYLE / She/shock/cheese / SWEETEST DAY / Charlie's Jam /
            GIANTS BARBER SHOP / SUNRISE MARKET / CHILL MART /
            AMA used clothing /千葉俊 / 対馬大輔 / Mayumi Tonosaki /
            弘大カフェ 成田専蔵珈琲店 / NAOKI GAMAN / Qlock Up Inc.
            ＊順不同、敬称略
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-custom">
  <!--Shopping content-->

  <div class="row content-block">

    <h2 class="content-title-bold">SHOPPING</h2>
    <p class="shopping-text">下記店舗、公式webショップにて購入可能です。</p>
    <div class="shopping-list">
      <div class="col-sm-4 shopping-list-item">
        <img class="icon-logo" src="common/images/product/product-shopping-penhouse.svg" alt="">
      </div>
      <div class="col-sm-4 shopping-list-item">
        <img class="icon-logo" src="common/images/product/product-shopping-coffeman.svg" alt="">
      </div>
      <div class="col-sm-4 shopping-list-item">
        <img class="icon-logo" src="common/images/product/product-shopping-qlookup.svg" alt="">
      </div>
    </div>
  </div>

  <hr class="hr-custom">

  <!--Back number content-->
  <div class="row content-block">
    <h2 class="content-title-bold">BACK NUMBER</h2>
    <div class="product-back-number">
      <div class="menu-list">
        <div class="col-sm-3 col-sm-offset-3 col-xs-6 menu-list-item">
          <img class="lazy" data-original="common/images/product/product-backnumber1.png" alt="">
          <div class="back-number-text">
            <p class="menu-list-item-title">KONOHEN journal</p>
            <p class="news-list-item-description">創刊号　HOLIDAY</p>
            <p class="menu-list-item-price">￥000</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 menu-list-item">
          <img class="lazy" data-original="common/images/product/product-backnumber2.png" alt="">
          <div class="back-number-text">
            <p class="menu-list-item-title">KONOHEN journal</p>
            <p class="news-list-item-description">2号　SPRING</p>
            <p class="menu-list-item-price">￥000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
