---
layout: default.html
title: Qlockup|SHOP
description: スナックJUJU特設サイト。ライヴ情報、映像、リリース情報、スペシャル企画。
keywords:
---
<div class="banner shop-page-banner">
  <div class="banner-logo">
    <img src="common/images/shop/shop-banner-logo.svg" alt="">
  </div>
</div>

<div class="container">
  <!--NAVIGATION START-->
  <div class="row content-navigation">
    <div class="col-xs-3 col-sm-2 col-sm-offset-2 content-navigation-item">
      <a class="button-link" href="#"><button class="btn-link-in-content">concept</button></a>
    </div>
    <div class="col-xs-3 col-sm-2 content-navigation-item">
      <a class="button-link" href="#"><button class="btn-link-in-content">menu</button></a>
    </div>
    <div class="col-xs-3 col-sm-2 content-navigation-item">
      <a class="button-link" href="#"><button class="btn-link-in-content">contact</button></a>
    </div>
    <div class="col-xs-3 col-sm-2 content-navigation-item">
      <a class="button-link" href="#"><button class="btn-link-in-content">event</button></a>
    </div>
  </div>
  <!--NAVIGATION END-->

  <!--NEWS START-->
  <div class="row content-block">
    <h2 class="content-title-italic">news</h2>

    <div class="col-xs-12 col-sm-4 news-list-item">
      <div class="col-xs-4 col-sm-12 news-list-item-image">
        <img class="lazy" data-original="common/images/top/top-news1.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-12 news-list-item-detail">
        <p class="news-list-item-date">06/11/12</p>
        <p class="news-list-item-title">【忘年会予約状況について】</p>
        <p class="news-list-item-description">
          11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。すでにいく…</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 news-list-item">
      <div class="col-xs-4 col-sm-12 news-list-item-image">
        <img class="lazy" data-original="common/images/top/top-news2.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-12 news-list-item-detail">
        <p class="news-list-item-date">06/11/12</p>
        <p class="news-list-item-title">【忘年会予約状況について】</p>
        <p class="news-list-item-description">
          11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。すでにいく…</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 news-list-item">
      <div class="col-xs-4 col-sm-12 news-list-item-image">
        <img class="lazy" data-original="common/images/top/top-news3.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-12 news-list-item-detail">
        <p class="news-list-item-date">06/11/12</p>
        <p class="news-list-item-title">【忘年会予約状況について】</p>
        <p class="news-list-item-description">
          11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。すでにいく…</p>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 news-button">
      <a class="button-link" href="#">
        <div class="button">お知らせ一覧を見る</div>
      </a>
    </div>

  </div>
  <!--NEWS END-->

  <hr class="hr-custom">

  <!--CONCEPT START-->
  <div class="row content-block">
    <h2 class="content-title-bold">concept</h2>
    <div class="col-sm-12 content-concept-list">
      <img class="lazy" data-original="common/images/shop/shop-concept.jpg" alt="">
      <div class="content-details">
        <p>テキストが入ります。あああ<br class="sp-only">ああああああああああ<br class="pc-only">
        ああああああ<br class="sp-only">あああああああ<br>
        面白い街をプロデュースする。<br class="sp-only">プロデュース会社 Qlock Upはみんなが住む青森を<br>
        もっともっと楽しくするために作られました。<br class="sp-only">これまでにない空間やフードメニューのプロデュース<br>
        雑誌や写真集のプロデュース<br class="sp-only">音楽イベントやアート企画の<br class="pc-only">
        プロデュース<br class="sp-only">介護施設のプロデュース他社製品の広告や商品の企画デザインプロデュース<br>
        青森の街を舞台に、楽しくてあっという間に過ぎる時間を</p>
      </div>
    </div>
  </div>
  <!--CONCEPT END-->

  <hr class="hr-custom">

  <!--MENU START-->
  <div class="row content-block">
    <h2 class="content-title-bold">menu</h2>
    <div class="shop-menu-list">
      <div class="col-xs-12 col-sm-6 menu-list-item">
        <img class="lazy" data-original="common/images/shop/shop-menu1.png" alt="">
        <div class="menu-list-item-detail">
          <p class="menu-list-item-title">料理のなまえあああああああ</p>
          <p class="menu-list-item-price">&#165; 000</p>
          <p class="menu-list-item-description">メニューの説明が入りますあああああああああああ。ここにテキストが入りま
            す。ここにテキストが入ります。ここにテキストが入ります。</p>
        </div>
      </div>
    </div>
    <div class="shop-menu-list">
      <div class="col-xs-12 col-sm-6 menu-list-item">
        <img class="lazy" data-original="common/images/shop/shop-menu1.png" alt="">
        <div class="menu-list-item-detail">
          <p class="menu-list-item-title">料理のなまえあああああああ</p>
          <p class="menu-list-item-price">&#165; 000</p>
          <p class="menu-list-item-description">メニューの説明が入りますあああああああああああ。ここにテキストが入りま
            す。ここにテキストが入ります。ここにテキストが入ります。</p>
        </div>
      </div>
    </div>
    <div class="shop-menu-list">
      <div class="col-xs-6 col-sm-3 menu-list-item menu-list-item-small">
        <img class="lazy" data-original="common/images/shop/shop-menu2.png" alt="">
        <div class="menu-list-item-detail">
          <p class="menu-list-item-title">料理のなまえあああ</p>
          <p class="menu-list-item-price">&#165; 000</p>
        </div>
      </div>
    </div>
    <div class="shop-menu-list">
      <div class="col-xs-6 col-sm-3 menu-list-item menu-list-item-small">
        <img class="lazy" data-original="common/images/shop/shop-menu2.png" alt="">
        <div class="menu-list-item-detail">
          <p class="menu-list-item-title">料理のなまえあああ</p>
          <p class="menu-list-item-price">&#165; 000</p>
        </div>
      </div>
    </div>
    <div class="shop-menu-list">
      <div class="col-xs-6 col-sm-3 menu-list-item menu-list-item-small">
        <img class="lazy" data-original="common/images/shop/shop-menu2.png" alt="">
        <div class="menu-list-item-detail">
          <p class="menu-list-item-title">料理のなまえあああ</p>
          <p class="menu-list-item-price">&#165; 000</p>
        </div>
      </div>
    </div>
    <div class="shop-menu-list">
      <div class="col-xs-6 col-sm-3 menu-list-item menu-list-item-small">
        <img class="lazy" data-original="common/images/shop/shop-menu2.png" alt="">
        <div class="menu-list-item-detail">
          <p class="menu-list-item-title">料理のなまえあああ</p>
          <p class="menu-list-item-price">&#165; 000</p>
        </div>
      </div>
    </div>
    <div class="row shop-menu-list-other">
      <div class="col-sm-6">
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
        <div class="menu-list-other-item">
          <div class="col-xs-6 col-sm-6 menu-list-other-item-title">
            <p>• 料理のなまえあああ</p>
          </div>
          <div class="col-xs-6 col-sm-6 menu-list-other-item-price">
            <p class="pl-20">&#165; 000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row shop-menu-spec">
      <div class="col-xs-12 col-sm-4 shop-menu-spec-lunch">
        lunch menu
      </div>
      <div class="col-xs-12 col-sm-4 shop-menu-spec-dinner">
        dinner menu
      </div>
      <div class="col-xs-12 col-sm-4 shop-menu-spec-special">
        special
      </div>
    </div>
  </div>
  <!--MENU END-->

  <hr class="hr-custom">

  <!--CONTACT START-->
  <div class="row content-block content-contact">
    <h2 class="content-title-bold">contact</h2>
    <p class="contact-name">pent house</p>
    <p>lunch : 11:00 ~ 14:00<br>
      dinner : 17:00 ~ 1:00</p>
    <p class="contact-tel">tel</p>
    <p>017-762-7281</p>
    <p class="contact-address">address</p>
    <p>〒030-0862 青森県青森市古川1丁目17−21<br>
      スノーランドビル3階</p>
    <div>
      <img class="icon-logo" src="common/images/footer/footer-facebook.svg" alt="">
      <img class="icon-logo" src="common/images/footer/footer-twitter.svg" alt="">
    </div>
  </div>
  <!--CONTACT END-->

  <hr class="hr-custom">

  <!--INSTAGRAM START-->
  <div class="row content-block">
    <h2 class="content-title-no-upper">Instagram</h2>
    <div class="content-instagram-list clearfix">
      <div class="instagram-show-sp">
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram1.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram2.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram3.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram4.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram5.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram6.png" alt="">
        </div>
      </div>
      <div class="instagram-show-pc">
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram4.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram5.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram6.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram1.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram2.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram3.png" alt="">
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 instagram-button">
          <a class="button-link" href="#">
            <div class="button">公式 Instagram</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--INSTAGRAM END-->

  <hr class="hr-custom">

  <!--RECRUIT START-->
  <div class="row content-block">
    <h2 class="content-title-bold">recruit</h2>

    <div class="content-concept-list">
      <img class="lazy recruit-image" data-original="common/images/top/top-recruit.png">
      <div class="content-details">
        <p>一緒に働く仲間を募集中的なテキスト<br>
          テキストが入ります。<br>
          テキストが入ります。テキストが入ります。テ<br>
          キストが入ります。</p>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 recruit-button">
      <a class="button-link" href="#">
        <div class="button">リクリートページへ</div>
      </a>
    </div>
  </div>
  <!--RECRUIT END-->
</div>



