---
layout: default.html
title: Qlockup|TOP
description: スナックJUJU特設サイト。ライヴ情報、映像、リリース情報、スペシャル企画。
top_class: top-page
keywords: 1
---

<div class="banner top-page-banner">
  <div class="banner-logo">
    <img src="common/images/top/top-banner-logo.svg" alt="">
  </div>
</div>
<div class="container">

  <!--NEWS START-->
  <div class="row content-block">
    <h2 class="content-title-italic">news</h2>

    <div class="col-xs-12 col-sm-4 news-list-item">
      <div class="col-xs-4 col-sm-12 news-list-item-image">
        <img class="lazy" data-original="common/images/top/top-news1.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-12 news-list-item-detail">
        <p class="news-list-item-date">06/11/12</p>
        <p class="news-list-item-title">【忘年会予約状況について】</p>
        <p class="news-list-item-description">
          11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。すでにいく…</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 news-list-item">
      <div class="col-xs-4 col-sm-12 news-list-item-image">
        <img class="lazy" data-original="common/images/top/top-news2.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-12 news-list-item-detail">
        <p class="news-list-item-date">06/11/12</p>
        <p class="news-list-item-title">【忘年会予約状況について】</p>
        <p class="news-list-item-description">
          11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。すでにいく…</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 news-list-item">
      <div class="col-xs-4 col-sm-12 news-list-item-image">
        <img class="lazy" data-original="common/images/top/top-news3.png" alt="">
      </div>
      <div class="col-xs-8 col-sm-12 news-list-item-detail">
        <p class="news-list-item-date">06/11/12</p>
        <p class="news-list-item-title">【忘年会予約状況について】</p>
        <p class="news-list-item-description">
          11月に入ったばかりですが、忘年会やお友達内でのクリスマス会のご予約が多くなってきております。今年はどうやら例年よりも動きが早いようで、幹事の皆様の素早さに感服しております。すでにいく…</p>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 news-button">
      <a class="button-link" href="#">
        <div class="button">お知らせ一覧を見る</div>
      </a>
    </div>
  </div>
  <!--NEWS END-->

  <hr class="hr-custom">

  <!--RECOMMEND START-->
  <div class="row content-block">
    <h2 class="content-title-italic">recommend</h2>
    <div class="recommend-list">
      <div class="col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-2 recommend-item">
        <img class="lazy" data-original="common/images/top/top-recommend1.png" alt="">
        <div class="recommend-list-item-detail">
          <p class="recommend-list-item-name">KONOHEN journal</p>
          <p class="recommend-list-item-title">最新号発売中！</p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 recommend-item">
        <img class="lazy" data-original="common/images/top/top-recommend2.png" alt="">
        <div class="recommend-list-item-detail">
          <p class="recommend-list-item-name">チーズイベント</p>
          <p class="recommend-list-item-title">○月開催決定！</p>
        </div>
      </div>
    </div>
  </div>
  <!--RECOMMEND END-->
  <hr class="hr-custom">
  <!--ABOUT START-->
  <div class="row content-block">
    <h2 class="content-title-bold">about</h2>
    <div class="content-details">
      <p>面白い街をプロデュースする。<br>
        プロデュース会社 Qlock Up はみんなが住む青森を<br>
        もっともっと楽しくするために作られました。<br>
        これまでにない空間やフードメニューのプロデュース<br class="sp-only"><span class="pc-only">　　</span>雑誌や写真集のプロデュース<br>
        音楽イベントやアート企画のプロデュース<br class="sp-only"><span class="pc-only">　　</span>介護施設のプロデュース<br>
        他社製品の広告や商品の企画デザインプロデュース。<br>
        青森の街を舞台に、楽しくて<br class="sp-only">あっという間に過ぎる時間を<br>
        プロデュースしていきます。</p>
    </div>
  </div>
  <!--ABOUT END-->
  <hr class="hr-custom">
  <!--PRODUCE START-->
  <div class="row content-block">
    <h2 class="content-title-bold">produce</h2>
    <div class="content-produce-list">
      <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-penthouse.svg">
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-ontheroof.svg">
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-coffeman.svg">
      </div>
      <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-ocean.svg">
      </div>
      <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-3">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-sweetest.svg">
      </div>
      <div class="col-xs-5 col-xs-offset-0 col-sm-2 col-sm-offset-0">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-bisteca.svg">
      </div>
      <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0">
        <img class="icon-logo lazy" data-original="common/images/top/top-produce-konohen.svg">
      </div>
    </div>
  </div>
  <!--PRODUCE END-->
  <hr class="hr-custom">
  <!--RECRUIT START-->
  <div class="row content-block">
    <h2 class="content-title-bold">recruit</h2>

    <div class="content-concept-list">
      <img class="lazy recruit-image" data-original="common/images/top/top-recruit.png">
      <div class="content-details">
        <p>一緒に働く仲間を募集中的なテキスト<br>
          テキストが入ります。<br>
          テキストが入ります。テキストが入ります。テ<br>
          キストが入ります。</p>
      </div>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 recruit-button">
      <a class="button-link" href="#">
        <div class="button">リクリートページへ</div>
      </a>
    </div>
  </div>
  <!--RECRUIT END-->
  <hr class="hr-custom">
  <!--INSTAGRAM START-->
  <div class="row content-block">
    <h2 class="content-title-no-upper">Instagram</h2>
    <div class="content-instagram-list clearfix">
      <div class="instagram-show-sp">
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram1.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram2.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram3.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram4.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram5.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram6.png" alt="">
        </div>
      </div>
      <div class="instagram-show-pc">
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram4.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram5.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram6.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram1.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram2.png" alt="">
        </div>
        <div class="col-xs-4 col-sm-2 content-instagram-list-item">
          <img class="lazy" data-original="common/images/top/top-instagram3.png" alt="">
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 instagram-button">
          <a class="button-link" href="#">
            <div class="button">公式 Instagram</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--INSTAGRAM END-->
</div>

