<footer>
  <div class="footer-sns">
    <img class="icon-logo" src="common/images/footer/footer-facebook.svg" alt="">
    <img class="icon-logo" src="common/images/footer/footer-twitter.svg" alt="">
    <img class="icon-logo" src="common/images/footer/footer-instagram.svg" alt="">
  </div>

  <div class="footer-first-logo clearfix">
    <div class="footer-first-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-penhouse.svg">
    </div>
    <div class="footer-first-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-ontheroof.svg">
    </div>
    <div class="footer-first-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-coffeman.svg">
    </div>
    <div class="footer-first-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-ocean.svg">
    </div>
  </div>

  <div class="footer-second-logo clearfix">
    <div class="footer-second-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-sweetest.svg">
    </div>
    <div class="footer-second-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-bisteca.svg">
    </div>
    <div class="footer-second-logo-item">
      <img class="icon-logo footer-padding-10" src="common/images/footer/footer-konohen.svg">
    </div>
  </div>
  <div class="footer-copyright">
    <p class="text-center">&copy; Qlock up.co.ltd</p>
  </div>
</footer>