<header>
  <div class="container">
    <div class="site-logo">
      <h1><a class="icon-logo" href="/top.html"></a></h1>
    </div>
    <nav class="site-menu">
      <div class="site-menu-sm-header">
        <div class="menu-close">
        </div>
      </div>
      <ul>
        <li><a href="#">About<span class="sp-only">QLOCKUPについて</span></a></li>
        <li class="site-menu-item-list">
          <a href="#">Demonstration</a>
          <div class="site-menu-sub-wrapper">
            <div class="container">
              <div>
                <span>DEMONSTRATION</span>
                <ul class="site-menu-sub">
                  <li><a href="/top.html">01-TOP</a></li>
                  <li><a href="/shop.html">02-SHOP</a></li>
                  <li><a href="/product.html">03-PRODUCT</a></li>
                  <li><a href="/form.html">04-FORM</a></li>
                  <li><a href="/list.html">05-LIST</a></li>
                  <li><a href="/post.html">06-POST</a></li>
                </ul>
              </div>
              <div>
                <span>Space design</span>
                <ul class="site-menu-sub">
                  <li><a href="#"> finder</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="site-menu-item-list">
          <a href="#">Produce<span class="sp-only">プロデュース</span></a>
          <div class="site-menu-sub-wrapper">
            <div class="container">
              <div>
                <span>SHOP</span>
                <ul class="site-menu-sub">
                  <li><a href="#">PENTHOUSE</a></li>
                  <li><a href="#">SWEETEST DAY</a></li>
                  <li><a href="#">COFFEEMAN good</a></li>
                  <li><a href="#">PENTHOUSE</a></li>
                  <li><a href="#">SWEETEST DAY</a></li>
                  <li><a href="#">COFFEEMAN good</a></li>
                  <li><a href="#">PENTHOUSE</a></li>
                  <li><a href="#">SWEETEST DAY</a></li>
                  <li><a href="#">COFFEEMAN good</a></li>
                  <li><a href="#">PENTHOUSE</a></li>
                  <li><a href="#">SWEETEST DAY</a></li>
                  <li><a href="#">COFFEEMAN good</a></li>
                </ul>
              </div>
              <div>
                <span>Space design</span>
                <ul class="site-menu-sub">
                  <li><a href="#"> finder</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">NEWS<span class="sp-only">最新情報</span></a></li>
        <li><a href="#">RECRUIT<span class="sp-only">求人情報</span></a></li>
        <li><a href="#">COMPANY<span class="sp-only">会社概要</span></a></li>
      </ul>
    </nav>

    <div class="menu-toggle">
      <span class="menu-toggle-draw"></span>
      <span class="menu-toggle-draw"></span>
      <span class="menu-toggle-draw"></span>
    </div>
    <div class="clearfix"></div>

  </div>
</header>