body {
  font-family: $site_font;
  font-size: 1em;
  color: #666666;

  a.button-link {
    text-decoration: none;
  }

  .content-title-italic {
    text-align: center;
    font-family: Roboto;
    font-size: 1.500em;//18px;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 38px 0;
    letter-spacing: 2px;
  }

  .content-title-italic:after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    background: #C9C9C9;
    margin: 10px auto;
  }

  .content-title-no-upper {
    text-align: center;
    font-family: Roboto;
    font-size: 1.750em; //21px;
    color: #666666;
    font-weight: 700;
    margin: 0 0 38px 0;
    letter-spacing: 2px;
  }
  .content-title-no-upper:after {
    content: '';
    display: block;
    width: 54px;
    height: 1px;
    background: #666666;
    margin: 7px auto;
  }
  .content-title-no-upper:first-letter {
    text-transform: uppercase;
  }

}

@media (min-width: $width-smartphone + 1px) {
  header {
    min-width: 720px;
  }
  .container {
    max-width: 990px;
  }
}

.button {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #fff 50%, #969696 50%);
  font-family: KozGoPr6N;
  font-weight: 500;
  color: #969696;
  border: 2px solid #969696;
  transition: background-position 0.3s;
  text-align: center;
  height: 40px;
  font-size: 1em; //12px
  padding: 10px;
  margin: 38px 0 0 0;
}

.button:hover {
  background-position: 0 -100%;
  cursor: pointer;
  color: #fff;
}

.icon-logo{
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;

}
.icon-logo:hover {
  opacity: 0.8;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-top: 45px;
  transition: padding-top 0.3s;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1em; //12px
  .container {
    margin: 0 auto;
    .site-logo {
      float: left;
      h1 {
        margin: 0 0 0 0;
      }
      a {
        display: block;
        width: 140px;
        height: 43px;
        background: url("/common/images/header/header-logo-black.svg") no-repeat;
        background-size: contain;
      }
    }

    nav.site-menu {
      float: right;
      text-align: right;
      padding-top: 13px;

      .site-menu-sm-header {
        display: none;
      }

      & > ul {
        list-style: none;
        & > li {
          display: inline-block;
          text-transform: uppercase;
          position: relative;
          padding-bottom: 25px;
          a {
            position: relative;
            font-family: Roboto, sans-serif;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
            display: block;
            padding: 0 15px;
            &:before, &:after {
              content: '';
              width: 0;
            }
          }

          @media screen and (min-width: $width-smartphone + 1px) {
            &.site-menu-item-list:after {
              content: '';
              display: block;
              opacity: 0;
              position: absolute;
              width: 10px;
              height: 10px;
              top: calc(100% - 10px);
              left: calc(50% - 5px);
              z-index: 1001;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 10px solid #f6f6f6;
              transition: opacify .3s;
            }
            &.site-menu-item-list:hover:after {
              opacity: 1;
            }
            &:hover > a {
              &:before {
                content: '';
                display: block;
                position: absolute;
                border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                width: 100%;
                top: -5px;
                left: 0;
                transition: width 0.3s;
              }
              &:after {
                content: '';
                display: block;
                position: absolute;
                border-top: 2px solid rgba(0, 0, 0, 0.5);
                width: 100%;
                bottom: -5px;
                right: 0;
                transition: width 0.3s;
              }
            }

            .site-menu-sub-wrapper {
              display: none;
              position: fixed;
              top: 100px;
              left: 0;
              background: #f3f3f3;
              width: 100vw;
              z-index: 1001;
              text-align: left;
              padding: 20px 0;
              transition: top 0.3s;
              border-bottom: 1px solid #c3c3c3;
              .container > div {
                float: left;
                width: 33%;
                & > span {
                  display: block;
                  font-weight: 300;
                  font-style: italic;
                }
                ul {
                  list-style: none;
                  li {
                    display: inline-block;
                    width: calc(50% - 5px);
                    a {
                      font-size: 1.167em;//14px;
                      display: block;
                      box-sizing: border-box;
                      color: inherit;
                      text-decoration: none;
                      padding: 5px 0 5px 10px;
                      &:hover, &:focus {
                        text-decoration: underline;
                      }
                      &:before {
                        content: "\f054\00a0";
                        font-family: 'FontAweSome';
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .menu-toggle {
      display: none;
    }

  }
  & + main {
    padding-top: 125px;
  }
}

header.sticky {
  background: white;
  border-bottom: 1px solid grey;
  .container .site-logo a {
    background: url("/common/images/header/header-logo-black.svg") no-repeat !important;
    background-size: contain !important;
  }

  nav.site-menu > ul > li a {
    color: rgba(0, 0, 0, 0.5) !important;
  }
  @media screen and (min-width: $width-smartphone + 1px) {
    padding-top: 10px;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);

    nav.site-menu > ul > li {
      .site-menu-sub-wrapper {
        top: 65px;
      }
      &:hover {
        & > a:before, & > a:after {
          content: '';
          border-color: rgba(0, 0, 0, 0.5) !important;
        }
      }
    }
  }
  @media screen and (max-width: $width-smartphone) {
    padding-bottom: 10px;
    .container .menu-toggle .menu-toggle-draw {
      border-color: rgba(0, 0, 0, .5) !important;
    }
  }
}

.top-page {
  header {
    .container {
      .site-logo a {
        background: url("/common/images/header/header-logo.svg") no-repeat;
        background-size: contain;
      }

      @media screen and (min-width: $width-smartphone + 1px) {
        nav.site-menu {
          float: right;
          text-align: right;
          ul {
            li {
              a {
                color: white;
              }
              &:hover a {
                &:before {
                  border-bottom: 2px solid rgba(230, 230, 230, 0.5);
                }
                &:after {
                  border-top: 2px solid rgba(230, 230, 230, 0.5);
                }
              }
            }
          }
        }
      }

    }
    & + main {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: $width-smartphone) {
  header {
    padding-top: 10px;
    transition: padding-bottom 0.3s, background-color 0.3s;
    .container {
      .site-logo a {
        height: 28px;
      }
      nav.site-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 256px;
        height: 100vh;
        background: white;
        border-left: 1px solid gray;
        z-index: 1000;
        padding: 0 14px 0 24px;
        text-align: left;
        transform: translateX(100%);
        transition: transform 0.3s;

        &.showing {
          transform: translateX(0) !important;
        }

        .site-menu-sm-header {
          display: block;
          width: 100%;
          height: 49px;
          border-bottom: 1px solid grey;
          margin-bottom: 40px;

          .menu-close {
            position: absolute;
            top: 12px;
            left: 24px;
            width: 21px;
            height: 21px;
            cursor: pointer;

            &:before, &:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: -3px;
              width: calc(100% + 6px);
              height: 3px;
              background: #7a7a7a;
            }
            &:before {
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
          }
        }
        & > ul {
          height: calc(100vh - 89px);
          padding-bottom: 15px;
          overflow-y: auto;
          display: block;
          li {
            display: block;
            padding-bottom: 5px;
            a {
              padding-left: 0;
              text-transform: none;
              padding-bottom: 5px;
              font-size: 1.167em;//14px
              color: rgba(0, 0, 0, 0.5);
              span.sp-only {
                font-weight: 300;
                font-family: KozGoPr6N;
                display: inline-block;
                padding-left: 5px;
              }
            }
            a:before {
              content: "\f054\00a0";
              font-family: 'FontAweSome';
            }
            &.site-menu-item-list.drop > a:before {
              content: '\f078\00a0';
            }

            &.site-menu-item-list.drop .site-menu-sub-wrapper {
              display: block;
            }

            .site-menu-sub-wrapper {
              display: none;
              .container {
                padding-left: 15px;
                & > div {
                  span {
                    display: block;
                    font-weight: 300;
                    font-style: italic;
                    padding: 5px 0;
                  }
                }
                .site-menu-sub {
                  a {
                    padding-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
      .menu-toggle {
        display: block;
        position: absolute;
        top: 12px;
        right: 10px;
        width: 21px;
        height: 21px;
        cursor: pointer;

        .menu-toggle-draw {
          display: block;
          width: 100%;
          height: 33.33%;
          box-sizing: border-box;
          border-bottom: 3px solid rgba(0, 0, 0, .5);
          padding: 0;
          margin: 0;
        }
      }
    }
    & + main {
      padding-top: 48px;
    }
  }

  .top-page header {
    .container {
      .menu-toggle .menu-toggle-draw {
        border-bottom-color: white;
      }
    }

    & + main {
      padding-top: 0;
    }
  }
}

footer {
  text-align: center;
  background-color: #e6e6e6;
  .footer-sns {
    padding-top: 35px;
    padding-bottom: 35px;
    img {
      width: auto;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .footer-first-logo {
    max-width: $width-pc + $width-scrollbar - 1;
    width: 100%;
    margin: 0 auto;
  }

  .footer-first-logo-item {
    .footer-padding-10 {
      padding: 15px 10px;
    }
    display: inline-block;
    width: calc(25% - 30px);
    @media screen and (max-width: $width-smartphone) {
      width: calc(50% - 30px);
    }

  }

  .footer-second-logo {
    max-width: $width-pc;
    width: 100%;
    margin: 0 auto;
  }

  .footer-second-logo-item {
    display: inline-block;
    width: calc(30% - 15px);
    img {
      padding: 15px 25px;
      max-width: 180px;
      height: auto;
    }

    @media screen and (max-width: $width-smartphone) {
      img {
        padding: 5px;
      }
    }
  }

  .footer-copyright {
    font-size: 1em;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// Custome footer in form page
@media screen and (max-width: $width-smartphone) {
  .form-page {
    padding-bottom: 40px;
    footer {
      display: none;
    }
  }
}


.btn-link-in-content {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.167em;//14px
  background-size: 100% 200%;
  background-image: linear-gradient(to top, gray 50%, #fff 50%);
  transition: background-position 0.3s;
}

.btn-link-in-content:hover {
  background-position: 0 100%;
  opacity: 0.8;
  cursor: pointer;
  color: #fff !important;
}
