@media screen and (max-width: $width-smartphone) {

  // Reset stylesheet
  html {
    font-size: 100%;
  }
  body {
    font-size: .75em;
    .button {
      margin-top: 25px;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 300;
    }

    .sp-only {
      display: inline;
    }

    .pc-only {
      display: none;
    }

    .content-block {
      width: auto;
      margin: 40px -15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .content-block:first-child {
      margin-top: 30px;
    }

    .content-title-italic {
      margin-bottom: 20px;
      font-size: 1.25em;
      font-weight: 300;
    }

    .content-title-bold {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .content-title-no-upper {
      font-size: 1.2em;
    }
  }

  // BANNER SECTION
  .banner {
    .banner-logo {
      height: 100%;
      margin: 0 auto !important;
      text-align: center;

      img {
        max-width: 90%;
        display: inline-block;
        vertical-align: middle;
      }

      &:before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  // Top page banner
  .banner.top-page-banner {
    height: 200px;
    .banner-logo {
      img {
        padding-top: 10px;
        max-width: 90px;
      }
    }
  }

  // Another page banner
  .banner.shop-page-banner, .banner.product-page-banner, .banner.form-page-banner {
    height: 152px;
  }

  // Product page banner logo
  .banner.product-page-banner {
    .banner-logo {
      width: 100%;
      text-align: right;
      img {
        max-width: 150px;
        padding-right: 10px;
      }
    }
  }

  // NEWS GRID SECTION
  .news-list-item {
    margin: 0 auto 15px;
    padding: 0;
    &:nth-last-child(2) {
      margin-bottom: 10px;
    }
    .news-list-item-image {
      padding: 0 5px;
      margin: 0 auto;
      img {
        width: 100%;
        max-width: 100px;
      }
    }
    .news-list-item-detail {
      text-align: left;
      padding: 0 5px;
      p.news-list-item-date {
        font-family: Roboto;
        font-size: 1em;
        margin: 0 0 2px;
        padding: 0;
      }
      p.news-list-item-title {
        font-family: KozGoPr6N;
        font-size: 14px;
        margin: 0 0 2px;
        padding: 0;
      }
      p.news-list-item-description {
        margin: 0;
        font-size: .9em;
        line-height: 1.8em;
        padding-top: 0;
        max-height: 5.4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
      }
    }
    // Custom different post news layout for list page
    &.post-new-text {
      .news-list-item-image {
        padding: 5px 0 0;
        img {
          padding: 0;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
      .news-list-item-detail {
        text-align: center;
      }
    }
  }

  // ABOUT CENTER SECTION
  .content-block {
    .content-details {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  // PRODUCE SECTION
  .content-produce-list {
    margin: 0;
  }

  // CONCEPT SECTION - RECRUIT SECTION
  .content-concept-list {
    padding: 0 5px;
    img:first-child {
      padding-bottom: 18px;
    }
  }
  // INSTAGRAM SECTION
  .content-instagram-list {
    margin: 0;
    .instagram-show-sp {
      display: none;
    }
    .content-instagram-list-item {
      padding: 0 5px 10px 5px;
    }
  }

  // NAVIGATION MENU SECTION
  .content-navigation {
    margin: 0;
    .content-navigation-item {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 0;
      button {
        width: 90%;
        padding: 0;
        margin: 0 2px;
        font-size: 1.25em;
        color: #666666;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  // CONCEPT SECTION (SHOP PAGE)
  .content-concept-list {
    .content-details {
      p {
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  // SHOP MENU SECTION
  .shop-menu-list {
    .menu-list-item {
      padding-bottom: 27px;
      .menu-list-item-detail {
        padding-left: 0;
      }
    }
    .menu-list-item-small {
      padding-bottom: 25px;
    }
  }
  .shop-menu-list-other .menu-list-other-item .pl-20 {
    text-align: right;
  }

  // PRODUCT NEWS INFO SECTION
  .content-block.content-product {
    h2:first-child {
      font-style: normal;
      font-weight: bold;
    }
    h3.sp-only {
      font-size: 1.2em;
      font-weight: 500;
      font-family: KozGoPr6N;
      color: #666;
      display: inline-block;
      margin-bottom: 10px;
    }
    .product-news-image {
      img {
        max-width: 200px;
      }
    }
  }
  .product-news-text {
    padding: 10px 0;
    text-align: justify;
    p:last-child {
      margin-bottom: 0;
    }
  }

  // FORM SECTION
  .content-block.content-form {
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }

  // LIST NEWS SECTION
  .content-block.content-list {
    margin-top: 20px;
    margin-bottom: 0;

    h2:first-child {
      display: none;
    }

    .post-new-text {
      border-bottom: 1px solid lightgrey;
    }
  }
  .news-refresh {
    margin-top: 15px;
    margin-bottom: 45px;
  }

  // POST NEWS INFO
  .content-block.content-post {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .content-post {
    .post-content-title {
      display: none;
    }
  }
  .product-news-image {
    padding: 0;
  }
}
