// COMMON BLOCKS
.content-block {
  font-weight: 200;
  color: #333333;
  text-align: center;

  margin: 63px 0 80px 0;
  width: 100%;
  .content-details {
    font-family: KozGoPr6N;
    font-size: 1em;
    font-weight: 500;
    margin: 0 0 0 0;
    line-height: 2.35;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.hr-custom {
  margin: 0 10px 0 10px;
}

.sp-only {
  display: none;
}

.pc-only {
  display: inline;
}

// BANNER SECTION
// Top page banner
.banner.top-page-banner {
  background: url('/common/images/top/top-banner.png') no-repeat center center;
  height: 720px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden;

  .banner-logo {
    width: 260px;
    margin: 195px auto;
  }
}

// Shop page banner
.banner.shop-page-banner {
  background: url('/common/images/shop/shop-banner.png') no-repeat center center;
  height: 504px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden;

  .banner-logo {
    max-width: 600px;
    margin: 174px auto;
  }
}

// Product page banner
.banner.product-page-banner {
  background: url('/common/images/product/product-banner.png') no-repeat center center;
  height: 504px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden;
  .banner-logo {
    width: 300px;
    float: right;
    margin: 267px 200px 0px 0px;
  }
}

// Form page banner
.banner.form-page-banner {
  background: url("/common/images/form/form-banner.png") no-repeat center center;
  height: 504px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden;
  .banner-logo {
    width: 116px;
    margin: 238px auto;
  }
}

// NEWS GRID SECTION
.news-list-item {
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  .news-list-item-image {
    padding: 0;
  }
  .news-list-item-detail {
    text-align: center;

    padding: 0 5px;
    p.news-list-item-date {
      font-family: Roboto;
      font-size: 1em;//12px
      font-weight: 700;
      color: #333333;
      margin: 19px 0 0 0;
      padding: 0 auto;
    }
    p.news-list-item-title {
      font-family: KozGoPr6N;
      font-size: 1.167em;//14px
      font-weight: 700;
      color: #666666;
      margin: 0 auto;
      padding: 0 auto;
    }
    p.news-list-item-description {
      font-family: KozGoPr6N;
      font-weight: 500;
      font-size: 1em;//12px
      color: #333333;
      padding-top: 5px;
      text-align: left;
      line-height: 1.8;
    }
    .list-news-item-logo:before {
      content: '';
      display: block;
      width: 1.333em;//16px
      height: 2px;
      background: #666666;
      margin: 10px auto;
    }
  }
}

// RECOMMEND GRID SECTION
.recommend-list {
  margin-top: 0;
  .recommend-list-item-detail {
    padding: 10px 0 0;
    text-align: left;
    p.recommend-list-item-name {
      font-family: Roboto;
      font-size: 1em;
      font-weight: 700;
      color: #333333;
      margin: 0;
    }
    p.recommend-list-item-title {
      font-family: KozGoPr6N;
      font-size: 1em;
      font-weight: 500;
      color: #333333;
      margin: 0 auto;
    }
  }
  .recommend-item {
    padding: 0 10px 0 10px;
  }
}

// ABOUT CENTER SECTION
.content-title-bold {
  text-align: center;
  font-family: Roboto;
  font-size: 1.75em; //21px;
  color: #666666;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 38px 0;
  letter-spacing: 2px;
}

.content-title-bold:after {
  content: '';
  display: block;
  width: 54px;
  height: 1px;
  background: #666666;
  margin: 14px auto;
}

// PRODUCE SECTION
.content-produce-list {
  margin: 0 0 0 0;
}

// INSTAGRAM SECTION
.content-instagram-list {
  margin: 0px;
  .content-instagram-list-item {
    padding: 0px 10px 16px 10px;

  }
}

// HORIZONTAL MENU SECTION
.content-navigation {
  .content-navigation-item {
    padding-top: 23px;
    button {
      width: 100%;
      padding: 13px 0;
      font-size: 1.167em;//14pt;
      color: #666666;
      text-align: center;
      text-transform: uppercase;
      font-family: Roboto;
      font-weight: 700;
      border: none;
      border-bottom: 1px solid grey;
    }
  }
}

// CONCEPT SECTION - RECRUIT SECTION
.content-concept-list {
  padding: 0 10px 0 10px;
  img:first-child {
    padding-bottom: 38px;
  }
  .recruit-image {
    width: 100%;
    max-width: 620px;
    height: auto;
  }
  .content-concept-detail {
    padding: 0;
    p {
      margin-top: 15px;
    }
    p:first-child {
      margin-top: 0;
    }
  }
}

// MENU SECTION
.shop-menu-list {
  text-align: left;
  .menu-list-item {
    padding: 0 10px 40px 10px;
    font-family: KozGoPr6N;
    font-weight: 500;
    .menu-list-item-detail {
      padding-left: 13px;
      padding-top: 15px;
      .menu-list-item-title, .menu-list-item-price {
        margin: 0;
        font-size: 1.167em;//14px;
      }
      .menu-list-item-description {
        margin: 10px 0 0 ;
        font-size: 1em;//12px;
      }
    }
  }
  .menu-list-item-small {
    padding: 0 10px 0 10px;
  }
}

.shop-menu-list-other {
  text-align: left;
  margin-bottom: 36px;
  .menu-list-other-item {
    margin-top: 60px;
    padding-left: 13px;
    font-family: KozGoPr6N;
    font-weight: 500;
    font-size: 1.167em;//14px;
    .menu-list-other-item-title, .menu-list-other-item-price {
      padding-left: 0;
    }
    .pl-20 {
      padding-left: 20px;
    }
  }
}

.shop-menu-spec {
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.500em;//18px;
  & > div {

    @media screen and (min-width: $width-smartphone + 1px) {
      width: calc(33% - 20px);
      margin: 0 10px;
    }
    @media screen and (max-width: $width-smartphone) {
      width: calc(100% - 40px);
      margin: 0 auto 20px;
      float: none;
    }
  }
  .shop-menu-spec-lunch {
    background: url("/common/images/shop/shop-menu3.png") no-repeat center center;
    background-size: cover;
    line-height: 84px;
    height: 84px;
  }
  .shop-menu-spec-dinner {
    background: url("/common/images/shop/shop-menu4.png") no-repeat center center;
    background-size: cover;
    line-height: 84px;
    height: 84px;
  }
  .shop-menu-spec-special {
    background: url("/common/images/shop/shop-menu5.png") no-repeat center center;
    background-size: cover;
    line-height: 84px;
    height: 84px;
  }
}

// CONTACT SECTION
.content-contact {
  font-family: KozGoPr6N;
  font-weight: 500;
  font-size: 1em;
  .contact-name {
    font-family: Roboto;
    font-size: 1.5em;
    margin: 45px 0 20px 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  .contact-tel {
    margin: 25px 0 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .contact-address {
    margin: 25px 0 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .icon-logo {
    margin: 20px 10px 0;
  }
}

// NEWS INFO SECTION
.product-news-image {
  padding: 0px 50px;
}

.product-news-text {
  padding: 0 80px 0 0;
  line-height: 1.8;
  text-align: left;
  font-family: KozGoPr6N;
  font-size: 1em;
  font-weight: 500;
  .content-small-title-italic {
    text-align: center;
    font-weight: bold;
    span {
      display: inline-block;
      font-style: italic;
      position: relative;
      color: #969696;
      &:after {
        content: '';
        bottom: -1px;
        left: 35%;
        width: 30%;
        border-bottom: 2px solid #969696;
        position: absolute;
      }
    }
  }
  .content-detail-date {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
  }
  .content-details-title {
    color: #666666;
    font-family: KozGoPr6N;
    font-size: 1.167em;//14px
    font-weight: 700;
  }
  .content-news-info {
    font-family: KozGoPr6N;
    font-size: 1em;//12px;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 20px;
  }
}

// SHOPPING SECTION
.shopping-list {
  width: 75%;
  margin: 0 auto;
}

.shopping-text {
  font-family: KozGoPr6N;
  font-size: 1em;//12px
  margin-bottom: 50px;
  font-weight: 500;
}

.shop-shopping-desc {
  margin-bottom: 53px;
}

// BACK NUMBER SECTION
.product-back-number {
  .back-number-text{
    font-family: KozGoPr6N;
    font-size: 1.167em;//14px
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
  }
  .menu-list-item {
    padding: 0 10px;
  }
}

// FORM SECTION
.category {
  padding: 30px 0 40px 0;
  background-color: #fff;
}

p.cat-item {
  font-size: 11pt;
  font-weight: 700;
}

.content-form {
  width: 310px;
  margin: 80px auto 0;
}

.content-form p {
  list-style-type: none;
  margin-bottom: 10px;
  resize: none;
  text-align: left;
  font-family: KozGoPr6N;
  font-size: 1.167em;//12px;
  font-weight: 500;
}

.content-form input {
  border: 4px solid #C9C9C9;
  background: #ffffff;
  padding: 10px;
  width: 100%;
  color: #000000;
  font-size: 1em;//12px;
  resize: none;
  margin-bottom: 20px;
}

.content-form select {
  border: 4px solid #C9C9C9;
  background: #ffffff;
  padding: 5px;
  width: 100%;
  color: #000000;
  font-family: KozGoPr6N;
  font-size: 1em;//12px;
  font-weight: 500;
  resize: none;
  height: 44px;
}

.content-selected {
  weight: 44px;
  font-family: KozGoPr6N;
  font-size: 1em;//12px;
  font-weight: 500;
}

.text_caution .content_caution p {
  font-size: 1em; //12px;
}

// REFRESH BUTTON
.news-refresh {
  float: none;
  margin: 50px auto 60px auto;
  width: 20px;
  height: 20px;
}

// POST NEW SECTION
.post-content-title {
  /*font-size: 1.5em;*/
}
.post-new-image {
  padding-right: 0;
}
.post-new-text {
  /*font-size: 1em;*/
  .content-detail-img {
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: center;
  }
  .content-detail-img:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 16px;
    border-bottom: 2px solid #969696;
    margin-bottom: 10px;
  }
}
.content-sns-icon-item{
  padding: 0 7px 0 7px;
}

// LIST
.list-news-item-logo{
  margin: 30px auto;
}

.list-news-logo-penhouse {
  width: 50%;
}

.list-news-logo-bisteca {
  width: 32%;
}

.list-news-row-block {
  padding: 0;
}