/*
**  ===================================================================
**  utility CSS ※prefix「u-」
**  ===================================================================
*/
// clearfixのみ例外
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

@for $value from 1 through 10 {
  .u-mt#{$value * 10} {
    margin-top: 10px * $value;
  }
  .u-mb#{$value * 10} {
    margin-bottom: 10px * $value;
   }
  .u-mr#{$value * 10} {
    margin-right: 10px * $value;
  }
  .u-ml#{$value * 10} {
    margin-left: 10px * $value;
  }
}
@for $value from 1 through 10 {
  .u-pt#{$value * 10} {
    padding-top: 10px * $value;
  }
  .u-pb#{$value * 10} {
    padding-bottom: 10px * $value;
   }
  .u-pr#{$value * 10} {
    padding-right: 10px * $value;
  }
  .u-pl#{$value * 10} {
    padding-left: 10px * $value;
  }
}
