/*
**  ===================================================================
**  foundation CSS ※サイト全体に共通のスタイル
**  ===================================================================
*/

// 0 = My
// 1 = HTML5
// 2 = Eric
// 3 = YUI
// 4 = Normalize
// ohter Universal Selector

$Foundation: 1 !default;

@if $Foundation == 1 or $Foundation == HTML5 {
  /*!
   * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
   * Richard Clark (http://richclarkdesign.com)
   * http://cssreset.com
   */
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  body {
    line-height: 1;
  }
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  nav ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border: 0px;
  }
  /* change colours to suit your needs */
  ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
  }
  /* change colours to suit your needs */
  mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
  }
  del {
    text-decoration: line-through;
  }
  abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* change border colour to suit your needs */
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
  }
  input, select {
    vertical-align: middle;
  }
  img {
    border-style: none;
  }
} @else if $Foundation == 2 or $Foundation == Eric {
  /*!
   * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
   * http://cssreset.com
   */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
} @else if $Foundation == 3 or $Foundation == YUI {
  /*!
   * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
   * http://cssreset.com
   * Copyright 2012 Yahoo! Inc. All rights reserved.
   * http://yuilibrary.com/license/
   */
  /*
      TODO will need to remove settings on HTML since we can't namespace it.
      TODO with the prefix, should I group by selector or property for weight savings?
  */
  html {
    color: #000;
    background: #FFF;
  }
  /*
      TODO remove settings on BODY since we can't namespace it.
  */
  /*
      TODO test putting a class on HEAD.
          - Fails on FF.
  */
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  fieldset,
  img {
    border: 0;
  }
  /*
      TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
  */
  address,
  caption,
  cite,
  code,
  dfn,
  em,
  strong,
  th,
  var {
    font-style: normal;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  caption,
  th {
    text-align: left;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }
  q:before,
  q:after {
    content: '';
  }
  abbr,
  acronym {
    border: 0;
    font-variant: normal;
  }
  /* to preserve line-height and selector appearance */
  sup {
    vertical-align: text-top;
  }
  sub {
    vertical-align: text-bottom;
  }
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  /*to enable resizing for IE*/
  input,
  textarea,
  select {
    *font-size: 100%;
  }
  /*because legend doesn't inherit in IE */
  legend {
    color: #000;
  }
  /* YUI CSS Detection Stamp */
  #yui3-css-stamp.cssreset {
    display: none;
  }
} @else if $Foundation == 4 or $Foundation == Normalize {
  /*! normalize.css v2.1.2 | MIT License | git.io/normalize */

  /* ==========================================================================
      HTML5 display definitions
      ========================================================================== */

  /**
   * Correct `block` display not defined in IE 8/9.
   */

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }

  /**
   * Correct `inline-block` display not defined in IE 8/9.
   */

  audio,
  canvas,
  video {
    display: inline-block;
  }

  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  /**
   * Address styling not present in IE 8/9.
   */

  [hidden] {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $link_color;
  }

  /* ==========================================================================
      Base
      ========================================================================== */

  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *  user zoom.
   */

  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  /**
   * Remove default margin.
   */

  body {
    margin: 0;
  }

  /* ==========================================================================
      Links
      ========================================================================== */

  /**
   * Address `outline` inconsistency between Chrome and other browsers.
   */

  a:focus {
    outline: thin dotted;
  }

  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */

  a:active,
  a:hover {
    outline: 0;
  }

  /* ==========================================================================
      Typography
      ========================================================================== */

  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari 5, and Chrome.
   */

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  /**
   * Address styling not present in IE 8/9, Safari 5, and Chrome.
   */

  abbr[title] {
    border-bottom: 1px dotted;
  }

  /**
   * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
   */

  b,
  strong {
    font-weight: bold;
  }

  /**
   * Address styling not present in Safari 5 and Chrome.
   */

  dfn {
    font-style: italic;
  }

  /**
   * Address differences between Firefox and other browsers.
   */

  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }

  /**
   * Address styling not present in IE 8/9.
   */

  mark {
    background: #ff0;
    color: #000;
  }

  /**
   * Correct font family set oddly in Safari 5 and Chrome.
   */

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, serif;
    font-size: 1em;
  }

  // /**
  //  * Improve readability of pre-formatted text in all browsers.
  //

  pre {
    white-space: pre-wrap;
  }

  // /**
  //  * Set consistent quote types.
  //

  q {
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  // /**
  //  * Address inconsistent and variable font size in all browsers.
  //

  small {
    font-size: 80%;
  }

  // /**
  //  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  //

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  // ==========================================================================
  //  Embedded content
  // ==========================================================================

  // /**
  //  * Remove border when inside `a` element in IE 8/9.
  //

  img {
    border: 0;
  }

  // /**
  //  * Correct overflow displayed oddly in IE 9.
  //

  svg:not(:root) {
    overflow: hidden;
  }

  // ==========================================================================
  //  Figures
  // ==========================================================================

  // /**
  //  * Address margin not present in IE 8/9 and Safari 5.
  //

  figure {
    margin: 0;
  }

  // ==========================================================================
  //  Forms
  // ==========================================================================

  // /**
  //  * Define consistent border, margin, and padding.
  //

  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  // /**
  //  * 1. Correct `color` not being inherited in IE 8/9.
  //  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  //

  legend {
    border: 0;
    padding: 0;
  }

  // /**
  //  * 1. Correct font family not being inherited in all browsers.
  //  * 2. Correct font size not being inherited in all browsers.
  //  * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
  //  */

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
  }

  // /**
  //  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  //  * the UA stylesheet.
  //  */

  button,
  input {
    line-height: normal;
  }

  // /**
  //  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  //  * All other form control elements do not inherit `text-transform` values.
  //  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
  //  * Correct `select` style inheritance in Firefox 4+ and Opera.
  //  */

  button,
  select {
    text-transform: none;
  }

  // /**
  //  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  //  *   and `video` controls.
  //  * 2. Correct inability to style clickable `input` types in iOS.
  //  * 3. Improve usability and consistency of cursor style between image-type
  //  *   `input` and others.
  //  */

  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  // /**
  //  * Re-set default cursor for disabled elements.
  //  */

  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  // /**
  //  * 1. Address box sizing set to `content-box` in IE 8/9.
  //  * 2. Remove excess padding in IE 8/9.
  //  */

  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  // /**
  //  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  //  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  //  *   (include `-moz` to future-proof).
  //  */

  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  // /**
  //  * Remove inner padding and search cancel button in Safari 5 and Chrome
  //  * on OS X.
  //  */

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  // /**
  //  * Remove inner padding and border in Firefox 4+.
  //  */

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // /**
  //  * 1. Remove default vertical scrollbar in IE 8/9.
  //  * 2. Improve readability and alignment in all browsers.
  //  */

  textarea {
    overflow: auto;
    vertical-align: top;
  }

  // ==========================================================================
  //  Tables
  // ==========================================================================

  // /**
  //  * Remove most spacing between table cells.
  //  */

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
} @else if $Foundation == 0 or $Foundation == My {

  // ==========================================================================
  //  My Reset CSS
  // ==========================================================================

  // 要素のフォントサイズやマージン・パディングをリセットしています
  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 1.5;
  }

  // 新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, small {
    display: block;
  }

  // HTML
  html {
    background: #fff;
    color: #333;
  }

  // BODY
  body {
    font: 12px/1.5 'Lucida Grande', Helvetica;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  // for IE7
  * + html body {
    font-family: 'メイリオ', 'ＭＳ Ｐゴシック';
    font-size: 75%;
  }

  // for IE6
  * html body {
    font-family: 'ＭＳ Ｐゴシック';
    font-size: 75%;
  }

  // OTHER TAGS
  a img, img {
    border: 0;
    vertical-align: bottom;
  }

  blockquote, dd, div, dl, dt, li, ol, p, pre, span, td, th, ul {
    margin: 0;
    padding: 0;
  }

  abbr, acronym {
    border: 0;
  }

  address, caption, cite, code, dfn, em, th, strong, var {
    font-style: normal;
    font-weight: 400;
  }

  caption, th {
    text-align: left;
  }

  code, kbd, pre, samp, tt {
    font-family: monospace;
    line-height: 100%;
  }

  * + html code, kbd, pre, samp, tt {
    font-size: 108%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  ol, ul {
    list-style: none;
  }

  q:before, q:after {
    content: '';
  }

  img {
    vertical-align: top;
    font-size: 0;
    line-height: 0;
  }

  // form
  button, fieldset, form, input, label, legend, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
  }

  // tables
  table {
    font-size: 100%;
    line-height: 1.5;
  }
} @else {
  // ! Universal Selector '*' Reset
  * {
    margin: 0;
    padding: 0;
  }
}

