/*
**  ===================================================================
**  Mixin CSS
**  ===================================================================
*/
/**
 * clearfix
**/
@mixin clearfix{
  &:after{
    content: "";
    clear: both;
    display: table;
  }
}
/**
 * WEB FONT
**/
@mixin icon{
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// 下矢印
@mixin icon-icon-arrow_down{
  font-family: $icon_font;
  content: "\e900";
  @include icon;
}
// 左矢印
@mixin icon-arrow_left{
  font-family: $icon_font;
  content: "\e901";
  @include icon;
}
// ページトップ
@mixin icon-arrow_page_top{
  font-family: $icon_font;
  content: "\e902";
  @include icon;
}
// 右矢印
@mixin icon-arrow_right{
  font-family: $icon_font;
  content: "\e903";
  @include icon;
}
// 右矢印
@mixin icon-arrow_up{
  font-family: $icon_font;
  content: "\e904";
  @include icon;
}
// 上矢印
@mixin icon-arrow_up{
  font-family: $icon_font;
  content: "\e904";
  @include icon;
}
// クローズ
@mixin icon-close_icon{
  font-family: $icon_font;
  content: "\e905";
  @include icon;
}
@mixin icon-double_arrow{
  font-family: $icon_font;
  content: "\e906";
  @include icon;
}
// ハンバーガーメニュー
@mixin icon-hamburgur_icon{
  font-family: $icon_font;
  content: "\e907";
  @include icon;
}
// Question
@mixin icon-question_icon{
  font-family: $icon_font;
  content: "\e908";
  @include icon;
}
// search
@mixin icon-search_icon{
  font-family: 'Icons';
  content: '\e08f';
}
// download
@mixin icon-download_icon{
  font-family: 'Icons';
  content: '\e04e';
}

/**
 * Media Queries
**/

// レスポンシブ用の条件分岐（例）
// PC分岐
// @include mq-pc {
// }
// Tablet分岐
// @include mq-tablet {
// }
// SP分岐
// @include mq-sp {
// }

@mixin mq-pc {
  // PC表示: 768+20=788px～
  @media only screen and (min-width: $width-smartphone + $width-scrollbar) {
    @content;
  }
}
// @mixin mq-tablet {
//   // タブレット表示: 480+20=500px ～ 768+20-1=787px
//   @media only screen and (min-width: $width-smartphone + $width-scrollbar) and (max-width: $width-tablet + $width-scrollbar - 1) {
//     @content;
//   }
// }
@mixin mq-sp {
  // スマートフォン表示: 480+20-1=499px～
  @media only screen and (max-width: $width-pc + $width-scrollbar - 1) {
    @content;
  }
}