/*
**  ===================================================================
**  各種設定：var,reset,base-font,break-point
**  ===================================================================
*/
/**
 * FONT
 */
@font-face {
  font-family: Condenseicon;
  src: url("/common/font/CONDENSEicon.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Black.ttf");
  font-weight: 900; // Black
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-BlackItalic.ttf");
  font-weight: 900; // Black
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Bold.ttf");
  font-weight: 700; // Bold
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-BoldItalic.ttf");
  font-weight: 700; // Bold
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Light.ttf");
  font-weight: 300; // Light
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-LightItalic.ttf");
  font-weight: 300; // Light
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Medium.ttf");
  font-weight: 500; // Medium
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-MediumItalic.ttf");
  font-weight: 500; // Medium
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Regular.ttf");
  font-weight: 400; // Regular
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Thin.ttf");
  font-weight: 100; // Thin
}
@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-ThinItalic.ttf");
  font-weight: 100; // Thin
  font-style: italic;
}
@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Bold.otf");
  font-weight: 700; // Bold
}
@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-ExtraLight.otf");
  font-weight: 100; // ExtraLight
}
@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Heavy.otf");
  font-weight: 800; // Heavy
}
@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Light.otf");
  font-weight: 200; // Light
}
@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Medium.otf");
  font-weight: 500; // Medium
}
@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Regular.otf");
  font-weight: 400; // Regular
}

/**
 * Foundation
**/
$Foundation: Normalize;

/**
 * WIDTH
**/
$base_width: auto;
$window_width100: 100%;
$window_width95: 95%;
$max_width: 1000px;
$content_width: 880px;
$min_width: 300px;
$main_width: 640px;
$p_max_width: 100%;

/**
 * BREAK POINT
**/
$width-pc: 748px;
$width-tablet: 1024px;
$width-smartphone: 480px;
$width-scrollbar: 20px;

/**
 * COLOR
**/
// サイトカラー
$site_color: #51c225;
$site_sub_color: #227a00;

// ベース フォントカラー
$font_base_color: #333;

// リンク display: block;
$link_color: #0068B6;
$link_color_visited: #333;
$link_color_hover: #4775f5 + #222;
$link_color_active: #000;

// ベース カラー
$color_wh: #FFFFFF;
$color_black: #000000;
// その他 ブラック 一覧
$color_black01: #cccccc;
$color_blacl02: #f2f2f2;
$color_black03: #dedede;
$color_black04: #727272;
$color_black05: #F1F1F1;
// その他 カラー
$color_red: #c30d23;
$color_purple: #a674b0;
$color_blue:#636fab;
$color_green:#61c1be;
$color_yellow:#fabe00;
$color_orange:#f39700;



// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

// ベースフォント
$site_font:'Roboto', sans-serif;
html {
  font-size: 75%;
}

