@charset "UTF-8";
/*
**  ===================================================================
**  各種設定：var,reset,base-font,break-point
**  ===================================================================
*/
/**
 * FONT
 */
@font-face {
  font-family: Condenseicon;
  src: url("/common/font/CONDENSEicon.ttf"); }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Italic.ttf");
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-Thin.ttf");
  font-weight: 100; }

@font-face {
  font-family: Roboto;
  src: url("/common/font/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Bold.otf");
  font-weight: 700; }

@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-ExtraLight.otf");
  font-weight: 100; }

@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Heavy.otf");
  font-weight: 800; }

@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Light.otf");
  font-weight: 200; }

@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Medium.otf");
  font-weight: 500; }

@font-face {
  font-family: KozGoPr6N;
  src: url("/common/font/KozGoPr6N-Regular.otf");
  font-weight: 400; }

/**
 * Foundation
**/
/**
 * WIDTH
**/
/**
 * BREAK POINT
**/
/**
 * COLOR
**/
html {
  font-size: 75%; }

/*
**  ===================================================================
**  foundation CSS ※サイト全体に共通のスタイル
**  ===================================================================
*/
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
      HTML5 display definitions
      ========================================================================== */
/**
   * Correct `block` display not defined in IE 8/9.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
   * Correct `inline-block` display not defined in IE 8/9.
   */
audio,
canvas,
video {
  display: inline-block; }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address styling not present in IE 8/9.
   */
[hidden] {
  display: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #0068B6; }

/* ==========================================================================
      Base
      ========================================================================== */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *  user zoom.
   */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* ==========================================================================
      Links
      ========================================================================== */
/**
   * Address `outline` inconsistency between Chrome and other browsers.
   */
a:focus {
  outline: thin dotted; }

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
      Typography
      ========================================================================== */
/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari 5, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9, Safari 5, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari 5 and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  box-sizing: content-box;
  height: 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Correct font family set oddly in Safari 5 and Chrome.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
**  ===================================================================
**  Mixin CSS
**  ===================================================================
*/
/**
 * clearfix
**/
/**
 * WEB FONT
**/
/**
 * Media Queries
**/
/*
**  ===================================================================
**  utility CSS ※prefix「u-」
**  ===================================================================
*/
.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.u-mt10 {
  margin-top: 10px; }

.u-mb10 {
  margin-bottom: 10px; }

.u-mr10 {
  margin-right: 10px; }

.u-ml10 {
  margin-left: 10px; }

.u-mt20 {
  margin-top: 20px; }

.u-mb20 {
  margin-bottom: 20px; }

.u-mr20 {
  margin-right: 20px; }

.u-ml20 {
  margin-left: 20px; }

.u-mt30 {
  margin-top: 30px; }

.u-mb30 {
  margin-bottom: 30px; }

.u-mr30 {
  margin-right: 30px; }

.u-ml30 {
  margin-left: 30px; }

.u-mt40 {
  margin-top: 40px; }

.u-mb40 {
  margin-bottom: 40px; }

.u-mr40 {
  margin-right: 40px; }

.u-ml40 {
  margin-left: 40px; }

.u-mt50 {
  margin-top: 50px; }

.u-mb50 {
  margin-bottom: 50px; }

.u-mr50 {
  margin-right: 50px; }

.u-ml50 {
  margin-left: 50px; }

.u-mt60 {
  margin-top: 60px; }

.u-mb60 {
  margin-bottom: 60px; }

.u-mr60 {
  margin-right: 60px; }

.u-ml60 {
  margin-left: 60px; }

.u-mt70 {
  margin-top: 70px; }

.u-mb70 {
  margin-bottom: 70px; }

.u-mr70 {
  margin-right: 70px; }

.u-ml70 {
  margin-left: 70px; }

.u-mt80 {
  margin-top: 80px; }

.u-mb80 {
  margin-bottom: 80px; }

.u-mr80 {
  margin-right: 80px; }

.u-ml80 {
  margin-left: 80px; }

.u-mt90 {
  margin-top: 90px; }

.u-mb90 {
  margin-bottom: 90px; }

.u-mr90 {
  margin-right: 90px; }

.u-ml90 {
  margin-left: 90px; }

.u-mt100 {
  margin-top: 100px; }

.u-mb100 {
  margin-bottom: 100px; }

.u-mr100 {
  margin-right: 100px; }

.u-ml100 {
  margin-left: 100px; }

.u-pt10 {
  padding-top: 10px; }

.u-pb10 {
  padding-bottom: 10px; }

.u-pr10 {
  padding-right: 10px; }

.u-pl10 {
  padding-left: 10px; }

.u-pt20 {
  padding-top: 20px; }

.u-pb20 {
  padding-bottom: 20px; }

.u-pr20 {
  padding-right: 20px; }

.u-pl20 {
  padding-left: 20px; }

.u-pt30 {
  padding-top: 30px; }

.u-pb30 {
  padding-bottom: 30px; }

.u-pr30 {
  padding-right: 30px; }

.u-pl30 {
  padding-left: 30px; }

.u-pt40 {
  padding-top: 40px; }

.u-pb40 {
  padding-bottom: 40px; }

.u-pr40 {
  padding-right: 40px; }

.u-pl40 {
  padding-left: 40px; }

.u-pt50 {
  padding-top: 50px; }

.u-pb50 {
  padding-bottom: 50px; }

.u-pr50 {
  padding-right: 50px; }

.u-pl50 {
  padding-left: 50px; }

.u-pt60 {
  padding-top: 60px; }

.u-pb60 {
  padding-bottom: 60px; }

.u-pr60 {
  padding-right: 60px; }

.u-pl60 {
  padding-left: 60px; }

.u-pt70 {
  padding-top: 70px; }

.u-pb70 {
  padding-bottom: 70px; }

.u-pr70 {
  padding-right: 70px; }

.u-pl70 {
  padding-left: 70px; }

.u-pt80 {
  padding-top: 80px; }

.u-pb80 {
  padding-bottom: 80px; }

.u-pr80 {
  padding-right: 80px; }

.u-pl80 {
  padding-left: 80px; }

.u-pt90 {
  padding-top: 90px; }

.u-pb90 {
  padding-bottom: 90px; }

.u-pr90 {
  padding-right: 90px; }

.u-pl90 {
  padding-left: 90px; }

.u-pt100 {
  padding-top: 100px; }

.u-pb100 {
  padding-bottom: 100px; }

.u-pr100 {
  padding-right: 100px; }

.u-pl100 {
  padding-left: 100px; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #666666; }
  body a.button-link {
    text-decoration: none; }
  body .content-title-italic {
    text-align: center;
    font-family: Roboto;
    font-size: 1.500em;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 38px 0;
    letter-spacing: 2px; }
  body .content-title-italic:after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    background: #C9C9C9;
    margin: 10px auto; }
  body .content-title-no-upper {
    text-align: center;
    font-family: Roboto;
    font-size: 1.750em;
    color: #666666;
    font-weight: 700;
    margin: 0 0 38px 0;
    letter-spacing: 2px; }
  body .content-title-no-upper:after {
    content: '';
    display: block;
    width: 54px;
    height: 1px;
    background: #666666;
    margin: 7px auto; }
  body .content-title-no-upper:first-letter {
    text-transform: uppercase; }

@media (min-width: 481px) {
  header {
    min-width: 720px; }
  .container {
    max-width: 990px; } }

.button {
  background-size: 100% 200%;
  background-image: -webkit-linear-gradient(top, #fff 50%, #969696 50%);
  background-image: linear-gradient(to bottom, #fff 50%, #969696 50%);
  font-family: KozGoPr6N;
  font-weight: 500;
  color: #969696;
  border: 2px solid #969696;
  -webkit-transition: background-position 0.3s;
          transition: background-position 0.3s;
  text-align: center;
  height: 40px;
  font-size: 1em;
  padding: 10px;
  margin: 38px 0 0 0; }

.button:hover {
  background-position: 0 -100%;
  cursor: pointer;
  color: #fff; }

.icon-logo {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.icon-logo:hover {
  opacity: 0.8; }

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-top: 45px;
  -webkit-transition: padding-top 0.3s;
          transition: padding-top 0.3s;
  font-family: Roboto;
  font-weight: 700;
  font-size: 1em; }
  header .container {
    margin: 0 auto; }
    header .container .site-logo {
      float: left; }
      header .container .site-logo h1 {
        margin: 0 0 0 0; }
      header .container .site-logo a {
        display: block;
        width: 140px;
        height: 43px;
        background: url("/common/images/header/header-logo-black.svg") no-repeat;
        background-size: contain; }
    header .container nav.site-menu {
      float: right;
      text-align: right;
      padding-top: 13px; }
      header .container nav.site-menu .site-menu-sm-header {
        display: none; }
      header .container nav.site-menu > ul {
        list-style: none; }
        header .container nav.site-menu > ul > li {
          display: inline-block;
          text-transform: uppercase;
          position: relative;
          padding-bottom: 25px; }
          header .container nav.site-menu > ul > li a {
            position: relative;
            font-family: Roboto, sans-serif;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
            display: block;
            padding: 0 15px; }
            header .container nav.site-menu > ul > li a:before, header .container nav.site-menu > ul > li a:after {
              content: '';
              width: 0; }
          @media screen and (min-width: 481px) {
            header .container nav.site-menu > ul > li.site-menu-item-list:after {
              content: '';
              display: block;
              opacity: 0;
              position: absolute;
              width: 10px;
              height: 10px;
              top: calc(100% - 10px);
              left: calc(50% - 5px);
              z-index: 1001;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 10px solid #f6f6f6;
              -webkit-transition: opacify .3s;
                      transition: opacify .3s; }
            header .container nav.site-menu > ul > li.site-menu-item-list:hover:after {
              opacity: 1; }
            header .container nav.site-menu > ul > li:hover > a:before {
              content: '';
              display: block;
              position: absolute;
              border-bottom: 2px solid rgba(0, 0, 0, 0.5);
              width: 100%;
              top: -5px;
              left: 0;
              -webkit-transition: width 0.3s;
                      transition: width 0.3s; }
            header .container nav.site-menu > ul > li:hover > a:after {
              content: '';
              display: block;
              position: absolute;
              border-top: 2px solid rgba(0, 0, 0, 0.5);
              width: 100%;
              bottom: -5px;
              right: 0;
              -webkit-transition: width 0.3s;
                      transition: width 0.3s; }
            header .container nav.site-menu > ul > li .site-menu-sub-wrapper {
              display: none;
              position: fixed;
              top: 100px;
              left: 0;
              background: #f3f3f3;
              width: 100vw;
              z-index: 1001;
              text-align: left;
              padding: 20px 0;
              -webkit-transition: top 0.3s;
                      transition: top 0.3s;
              border-bottom: 1px solid #c3c3c3; }
              header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div {
                float: left;
                width: 33%; }
                header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div > span {
                  display: block;
                  font-weight: 300;
                  font-style: italic; }
                header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div ul {
                  list-style: none; }
                  header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div ul li {
                    display: inline-block;
                    width: calc(50% - 5px); }
                    header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div ul li a {
                      font-size: 1.167em;
                      display: block;
                      box-sizing: border-box;
                      color: inherit;
                      text-decoration: none;
                      padding: 5px 0 5px 10px; }
                      header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div ul li a:hover, header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div ul li a:focus {
                        text-decoration: underline; }
                      header .container nav.site-menu > ul > li .site-menu-sub-wrapper .container > div ul li a:before {
                        content: "\f054\00a0";
                        font-family: 'FontAweSome'; } }
    header .container .menu-toggle {
      display: none; }
  header + main {
    padding-top: 125px; }

header.sticky {
  background: white;
  border-bottom: 1px solid grey; }
  header.sticky .container .site-logo a {
    background: url("/common/images/header/header-logo-black.svg") no-repeat !important;
    background-size: contain !important; }
  header.sticky nav.site-menu > ul > li a {
    color: rgba(0, 0, 0, 0.5) !important; }
  @media screen and (min-width: 481px) {
    header.sticky {
      padding-top: 10px;
      box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1); }
      header.sticky nav.site-menu > ul > li .site-menu-sub-wrapper {
        top: 65px; }
      header.sticky nav.site-menu > ul > li:hover > a:before, header.sticky nav.site-menu > ul > li:hover > a:after {
        content: '';
        border-color: rgba(0, 0, 0, 0.5) !important; } }
  @media screen and (max-width: 480px) {
    header.sticky {
      padding-bottom: 10px; }
      header.sticky .container .menu-toggle .menu-toggle-draw {
        border-color: rgba(0, 0, 0, 0.5) !important; } }

.top-page header .container .site-logo a {
  background: url("/common/images/header/header-logo.svg") no-repeat;
  background-size: contain; }

@media screen and (min-width: 481px) {
  .top-page header .container nav.site-menu {
    float: right;
    text-align: right; }
    .top-page header .container nav.site-menu ul li a {
      color: white; }
    .top-page header .container nav.site-menu ul li:hover a:before {
      border-bottom: 2px solid rgba(230, 230, 230, 0.5); }
    .top-page header .container nav.site-menu ul li:hover a:after {
      border-top: 2px solid rgba(230, 230, 230, 0.5); } }

.top-page header + main {
  padding-top: 0; }

@media screen and (max-width: 480px) {
  header {
    padding-top: 10px;
    -webkit-transition: padding-bottom 0.3s, background-color 0.3s;
            transition: padding-bottom 0.3s, background-color 0.3s; }
    header .container .site-logo a {
      height: 28px; }
    header .container nav.site-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 256px;
      height: 100vh;
      background: white;
      border-left: 1px solid gray;
      z-index: 1000;
      padding: 0 14px 0 24px;
      text-align: left;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.3s;
              transition: transform 0.3s; }
      header .container nav.site-menu.showing {
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important; }
      header .container nav.site-menu .site-menu-sm-header {
        display: block;
        width: 100%;
        height: 49px;
        border-bottom: 1px solid grey;
        margin-bottom: 40px; }
        header .container nav.site-menu .site-menu-sm-header .menu-close {
          position: absolute;
          top: 12px;
          left: 24px;
          width: 21px;
          height: 21px;
          cursor: pointer; }
          header .container nav.site-menu .site-menu-sm-header .menu-close:before, header .container nav.site-menu .site-menu-sm-header .menu-close:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -3px;
            width: calc(100% + 6px);
            height: 3px;
            background: #7a7a7a; }
          header .container nav.site-menu .site-menu-sm-header .menu-close:before {
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
          header .container nav.site-menu .site-menu-sm-header .menu-close:after {
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
      header .container nav.site-menu > ul {
        height: calc(100vh - 89px);
        padding-bottom: 15px;
        overflow-y: auto;
        display: block; }
        header .container nav.site-menu > ul li {
          display: block;
          padding-bottom: 5px; }
          header .container nav.site-menu > ul li a {
            padding-left: 0;
            text-transform: none;
            padding-bottom: 5px;
            font-size: 1.167em;
            color: rgba(0, 0, 0, 0.5); }
            header .container nav.site-menu > ul li a span.sp-only {
              font-weight: 300;
              font-family: KozGoPr6N;
              display: inline-block;
              padding-left: 5px; }
          header .container nav.site-menu > ul li a:before {
            content: "\f054\00a0";
            font-family: 'FontAweSome'; }
          header .container nav.site-menu > ul li.site-menu-item-list.drop > a:before {
            content: '\f078\00a0'; }
          header .container nav.site-menu > ul li.site-menu-item-list.drop .site-menu-sub-wrapper {
            display: block; }
          header .container nav.site-menu > ul li .site-menu-sub-wrapper {
            display: none; }
            header .container nav.site-menu > ul li .site-menu-sub-wrapper .container {
              padding-left: 15px; }
              header .container nav.site-menu > ul li .site-menu-sub-wrapper .container > div span {
                display: block;
                font-weight: 300;
                font-style: italic;
                padding: 5px 0; }
              header .container nav.site-menu > ul li .site-menu-sub-wrapper .container .site-menu-sub a {
                padding-left: 5px; }
    header .container .menu-toggle {
      display: block;
      position: absolute;
      top: 12px;
      right: 10px;
      width: 21px;
      height: 21px;
      cursor: pointer; }
      header .container .menu-toggle .menu-toggle-draw {
        display: block;
        width: 100%;
        height: 33.33%;
        box-sizing: border-box;
        border-bottom: 3px solid rgba(0, 0, 0, 0.5);
        padding: 0;
        margin: 0; }
    header + main {
      padding-top: 48px; }
  .top-page header .container .menu-toggle .menu-toggle-draw {
    border-bottom-color: white; }
  .top-page header + main {
    padding-top: 0; } }

footer {
  text-align: center;
  background-color: #e6e6e6; }
  footer .footer-sns {
    padding-top: 35px;
    padding-bottom: 35px; }
    footer .footer-sns img {
      width: auto;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px; }
  footer .footer-first-logo {
    max-width: 767px;
    width: 100%;
    margin: 0 auto; }
  footer .footer-first-logo-item {
    display: inline-block;
    width: calc(25% - 30px); }
    footer .footer-first-logo-item .footer-padding-10 {
      padding: 15px 10px; }
    @media screen and (max-width: 480px) {
      footer .footer-first-logo-item {
        width: calc(50% - 30px); } }
  footer .footer-second-logo {
    max-width: 748px;
    width: 100%;
    margin: 0 auto; }
  footer .footer-second-logo-item {
    display: inline-block;
    width: calc(30% - 15px); }
    footer .footer-second-logo-item img {
      padding: 15px 25px;
      max-width: 180px;
      height: auto; }
    @media screen and (max-width: 480px) {
      footer .footer-second-logo-item img {
        padding: 5px; } }
  footer .footer-copyright {
    font-size: 1em;
    padding-top: 40px;
    padding-bottom: 40px; }

@media screen and (max-width: 480px) {
  .form-page {
    padding-bottom: 40px; }
    .form-page footer {
      display: none; } }

.btn-link-in-content {
  font-family: Roboto;
  font-weight: 700;
  font-size: 1.167em;
  background-size: 100% 200%;
  background-image: -webkit-linear-gradient(bottom, gray 50%, #fff 50%);
  background-image: linear-gradient(to top, gray 50%, #fff 50%);
  -webkit-transition: background-position 0.3s;
          transition: background-position 0.3s; }

.btn-link-in-content:hover {
  background-position: 0 100%;
  opacity: 0.8;
  cursor: pointer;
  color: #fff !important; }

.content-block {
  font-weight: 200;
  color: #333333;
  text-align: center;
  margin: 63px 0 80px 0;
  width: 100%; }
  .content-block .content-details {
    font-family: KozGoPr6N;
    font-size: 1em;
    font-weight: 500;
    margin: 0 0 0 0;
    line-height: 2.35; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

.hr-custom {
  margin: 0 10px 0 10px; }

.sp-only {
  display: none; }

.pc-only {
  display: inline; }

.banner.top-page-banner {
  background: url("/common/images/top/top-banner.png") no-repeat center center;
  height: 720px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden; }
  .banner.top-page-banner .banner-logo {
    width: 260px;
    margin: 195px auto; }

.banner.shop-page-banner {
  background: url("/common/images/shop/shop-banner.png") no-repeat center center;
  height: 504px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden; }
  .banner.shop-page-banner .banner-logo {
    max-width: 600px;
    margin: 174px auto; }

.banner.product-page-banner {
  background: url("/common/images/product/product-banner.png") no-repeat center center;
  height: 504px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden; }
  .banner.product-page-banner .banner-logo {
    width: 300px;
    float: right;
    margin: 267px 200px 0px 0px; }

.banner.form-page-banner {
  background: url("/common/images/form/form-banner.png") no-repeat center center;
  height: 504px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  overflow: hidden; }
  .banner.form-page-banner .banner-logo {
    width: 116px;
    margin: 238px auto; }

.news-list-item {
  margin: 0 0 0 0;
  padding: 0 10px 0 10px; }
  .news-list-item .news-list-item-image {
    padding: 0; }
  .news-list-item .news-list-item-detail {
    text-align: center;
    padding: 0 5px; }
    .news-list-item .news-list-item-detail p.news-list-item-date {
      font-family: Roboto;
      font-size: 1em;
      font-weight: 700;
      color: #333333;
      margin: 19px 0 0 0;
      padding: 0 auto; }
    .news-list-item .news-list-item-detail p.news-list-item-title {
      font-family: KozGoPr6N;
      font-size: 1.167em;
      font-weight: 700;
      color: #666666;
      margin: 0 auto;
      padding: 0 auto; }
    .news-list-item .news-list-item-detail p.news-list-item-description {
      font-family: KozGoPr6N;
      font-weight: 500;
      font-size: 1em;
      color: #333333;
      padding-top: 5px;
      text-align: left;
      line-height: 1.8; }
    .news-list-item .news-list-item-detail .list-news-item-logo:before {
      content: '';
      display: block;
      width: 1.333em;
      height: 2px;
      background: #666666;
      margin: 10px auto; }

.recommend-list {
  margin-top: 0; }
  .recommend-list .recommend-list-item-detail {
    padding: 10px 0 0;
    text-align: left; }
    .recommend-list .recommend-list-item-detail p.recommend-list-item-name {
      font-family: Roboto;
      font-size: 1em;
      font-weight: 700;
      color: #333333;
      margin: 0; }
    .recommend-list .recommend-list-item-detail p.recommend-list-item-title {
      font-family: KozGoPr6N;
      font-size: 1em;
      font-weight: 500;
      color: #333333;
      margin: 0 auto; }
  .recommend-list .recommend-item {
    padding: 0 10px 0 10px; }

.content-title-bold {
  text-align: center;
  font-family: Roboto;
  font-size: 1.75em;
  color: #666666;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 38px 0;
  letter-spacing: 2px; }

.content-title-bold:after {
  content: '';
  display: block;
  width: 54px;
  height: 1px;
  background: #666666;
  margin: 14px auto; }

.content-produce-list {
  margin: 0 0 0 0; }

.content-instagram-list {
  margin: 0px; }
  .content-instagram-list .content-instagram-list-item {
    padding: 0px 10px 16px 10px; }

.content-navigation .content-navigation-item {
  padding-top: 23px; }
  .content-navigation .content-navigation-item button {
    width: 100%;
    padding: 13px 0;
    font-size: 1.167em;
    color: #666666;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid grey; }

.content-concept-list {
  padding: 0 10px 0 10px; }
  .content-concept-list img:first-child {
    padding-bottom: 38px; }
  .content-concept-list .recruit-image {
    width: 100%;
    max-width: 620px;
    height: auto; }
  .content-concept-list .content-concept-detail {
    padding: 0; }
    .content-concept-list .content-concept-detail p {
      margin-top: 15px; }
    .content-concept-list .content-concept-detail p:first-child {
      margin-top: 0; }

.shop-menu-list {
  text-align: left; }
  .shop-menu-list .menu-list-item {
    padding: 0 10px 40px 10px;
    font-family: KozGoPr6N;
    font-weight: 500; }
    .shop-menu-list .menu-list-item .menu-list-item-detail {
      padding-left: 13px;
      padding-top: 15px; }
      .shop-menu-list .menu-list-item .menu-list-item-detail .menu-list-item-title, .shop-menu-list .menu-list-item .menu-list-item-detail .menu-list-item-price {
        margin: 0;
        font-size: 1.167em; }
      .shop-menu-list .menu-list-item .menu-list-item-detail .menu-list-item-description {
        margin: 10px 0 0;
        font-size: 1em; }
  .shop-menu-list .menu-list-item-small {
    padding: 0 10px 0 10px; }

.shop-menu-list-other {
  text-align: left;
  margin-bottom: 36px; }
  .shop-menu-list-other .menu-list-other-item {
    margin-top: 60px;
    padding-left: 13px;
    font-family: KozGoPr6N;
    font-weight: 500;
    font-size: 1.167em; }
    .shop-menu-list-other .menu-list-other-item .menu-list-other-item-title, .shop-menu-list-other .menu-list-other-item .menu-list-other-item-price {
      padding-left: 0; }
    .shop-menu-list-other .menu-list-other-item .pl-20 {
      padding-left: 20px; }

.shop-menu-spec {
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.500em; }
  @media screen and (min-width: 481px) {
    .shop-menu-spec > div {
      width: calc(33% - 20px);
      margin: 0 10px; } }
  @media screen and (max-width: 480px) {
    .shop-menu-spec > div {
      width: calc(100% - 40px);
      margin: 0 auto 20px;
      float: none; } }
  .shop-menu-spec .shop-menu-spec-lunch {
    background: url("/common/images/shop/shop-menu3.png") no-repeat center center;
    background-size: cover;
    line-height: 84px;
    height: 84px; }
  .shop-menu-spec .shop-menu-spec-dinner {
    background: url("/common/images/shop/shop-menu4.png") no-repeat center center;
    background-size: cover;
    line-height: 84px;
    height: 84px; }
  .shop-menu-spec .shop-menu-spec-special {
    background: url("/common/images/shop/shop-menu5.png") no-repeat center center;
    background-size: cover;
    line-height: 84px;
    height: 84px; }

.content-contact {
  font-family: KozGoPr6N;
  font-weight: 500;
  font-size: 1em; }
  .content-contact .contact-name {
    font-family: Roboto;
    font-size: 1.5em;
    margin: 45px 0 20px 0;
    font-weight: bold;
    text-transform: uppercase; }
  .content-contact .contact-tel {
    margin: 25px 0 0;
    font-weight: 700;
    text-transform: uppercase; }
  .content-contact .contact-address {
    margin: 25px 0 0;
    font-weight: 700;
    text-transform: uppercase; }
  .content-contact .icon-logo {
    margin: 20px 10px 0; }

.product-news-image {
  padding: 0px 50px; }

.product-news-text {
  padding: 0 80px 0 0;
  line-height: 1.8;
  text-align: left;
  font-family: KozGoPr6N;
  font-size: 1em;
  font-weight: 500; }
  .product-news-text .content-small-title-italic {
    text-align: center;
    font-weight: bold; }
    .product-news-text .content-small-title-italic span {
      display: inline-block;
      font-style: italic;
      position: relative;
      color: #969696; }
      .product-news-text .content-small-title-italic span:after {
        content: '';
        bottom: -1px;
        left: 35%;
        width: 30%;
        border-bottom: 2px solid #969696;
        position: absolute; }
  .product-news-text .content-detail-date {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0; }
  .product-news-text .content-details-title {
    color: #666666;
    font-family: KozGoPr6N;
    font-size: 1.167em;
    font-weight: 700; }
  .product-news-text .content-news-info {
    font-family: KozGoPr6N;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.9;
    margin-bottom: 20px; }

.shopping-list {
  width: 75%;
  margin: 0 auto; }

.shopping-text {
  font-family: KozGoPr6N;
  font-size: 1em;
  margin-bottom: 50px;
  font-weight: 500; }

.shop-shopping-desc {
  margin-bottom: 53px; }

.product-back-number .back-number-text {
  font-family: KozGoPr6N;
  font-size: 1.167em;
  font-weight: 500;
  text-align: left;
  margin-top: 20px; }

.product-back-number .menu-list-item {
  padding: 0 10px; }

.category {
  padding: 30px 0 40px 0;
  background-color: #fff; }

p.cat-item {
  font-size: 11pt;
  font-weight: 700; }

.content-form {
  width: 310px;
  margin: 80px auto 0; }

.content-form p {
  list-style-type: none;
  margin-bottom: 10px;
  resize: none;
  text-align: left;
  font-family: KozGoPr6N;
  font-size: 1.167em;
  font-weight: 500; }

.content-form input {
  border: 4px solid #C9C9C9;
  background: #ffffff;
  padding: 10px;
  width: 100%;
  color: #000000;
  font-size: 1em;
  resize: none;
  margin-bottom: 20px; }

.content-form select {
  border: 4px solid #C9C9C9;
  background: #ffffff;
  padding: 5px;
  width: 100%;
  color: #000000;
  font-family: KozGoPr6N;
  font-size: 1em;
  font-weight: 500;
  resize: none;
  height: 44px; }

.content-selected {
  weight: 44px;
  font-family: KozGoPr6N;
  font-size: 1em;
  font-weight: 500; }

.text_caution .content_caution p {
  font-size: 1em; }

.news-refresh {
  float: none;
  margin: 50px auto 60px auto;
  width: 20px;
  height: 20px; }

.post-content-title {
  /*font-size: 1.5em;*/ }

.post-new-image {
  padding-right: 0; }

.post-new-text {
  /*font-size: 1em;*/ }
  .post-new-text .content-detail-img {
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: center; }
  .post-new-text .content-detail-img:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 16px;
    border-bottom: 2px solid #969696;
    margin-bottom: 10px; }

.content-sns-icon-item {
  padding: 0 7px 0 7px; }

.list-news-item-logo {
  margin: 30px auto; }

.list-news-logo-penhouse {
  width: 50%; }

.list-news-logo-bisteca {
  width: 32%; }

.list-news-row-block {
  padding: 0; }

@media screen and (max-width: 480px) {
  html {
    font-size: 100%; }
  body {
    font-size: .75em; }
    body .button {
      margin-top: 25px;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 300; }
    body .sp-only {
      display: inline; }
    body .pc-only {
      display: none; }
    body .content-block {
      width: auto;
      margin: 40px -15px;
      padding-left: 10px;
      padding-right: 10px; }
    body .content-block:first-child {
      margin-top: 30px; }
    body .content-title-italic {
      margin-bottom: 20px;
      font-size: 1.25em;
      font-weight: 300; }
    body .content-title-bold {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 30px; }
    body .content-title-no-upper {
      font-size: 1.2em; }
  .banner .banner-logo {
    height: 100%;
    margin: 0 auto !important;
    text-align: center; }
    .banner .banner-logo img {
      max-width: 90%;
      display: inline-block;
      vertical-align: middle; }
    .banner .banner-logo:before {
      content: '';
      width: 0;
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
  .banner.top-page-banner {
    height: 200px; }
    .banner.top-page-banner .banner-logo img {
      padding-top: 10px;
      max-width: 90px; }
  .banner.shop-page-banner, .banner.product-page-banner, .banner.form-page-banner {
    height: 152px; }
  .banner.product-page-banner .banner-logo {
    width: 100%;
    text-align: right; }
    .banner.product-page-banner .banner-logo img {
      max-width: 150px;
      padding-right: 10px; }
  .news-list-item {
    margin: 0 auto 15px;
    padding: 0; }
    .news-list-item:nth-last-child(2) {
      margin-bottom: 10px; }
    .news-list-item .news-list-item-image {
      padding: 0 5px;
      margin: 0 auto; }
      .news-list-item .news-list-item-image img {
        width: 100%;
        max-width: 100px; }
    .news-list-item .news-list-item-detail {
      text-align: left;
      padding: 0 5px; }
      .news-list-item .news-list-item-detail p.news-list-item-date {
        font-family: Roboto;
        font-size: 1em;
        margin: 0 0 2px;
        padding: 0; }
      .news-list-item .news-list-item-detail p.news-list-item-title {
        font-family: KozGoPr6N;
        font-size: 14px;
        margin: 0 0 2px;
        padding: 0; }
      .news-list-item .news-list-item-detail p.news-list-item-description {
        margin: 0;
        font-size: .9em;
        line-height: 1.8em;
        padding-top: 0;
        max-height: 5.4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis; }
    .news-list-item.post-new-text .news-list-item-image {
      padding: 5px 0 0; }
      .news-list-item.post-new-text .news-list-item-image img {
        padding: 0;
        max-width: 100%;
        margin-bottom: 20px; }
    .news-list-item.post-new-text .news-list-item-detail {
      text-align: center; }
  .content-block .content-details p:last-child {
    margin-bottom: 0; }
  .content-produce-list {
    margin: 0; }
  .content-concept-list {
    padding: 0 5px; }
    .content-concept-list img:first-child {
      padding-bottom: 18px; }
  .content-instagram-list {
    margin: 0; }
    .content-instagram-list .instagram-show-sp {
      display: none; }
    .content-instagram-list .content-instagram-list-item {
      padding: 0 5px 10px 5px; }
  .content-navigation {
    margin: 0; }
    .content-navigation .content-navigation-item {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 0; }
      .content-navigation .content-navigation-item button {
        width: 90%;
        padding: 0;
        margin: 0 2px;
        font-size: 1.25em;
        color: #666666;
        text-align: center;
        font-weight: bold; }
  .content-concept-list .content-details p {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .shop-menu-list .menu-list-item {
    padding-bottom: 27px; }
    .shop-menu-list .menu-list-item .menu-list-item-detail {
      padding-left: 0; }
  .shop-menu-list .menu-list-item-small {
    padding-bottom: 25px; }
  .shop-menu-list-other .menu-list-other-item .pl-20 {
    text-align: right; }
  .content-block.content-product h2:first-child {
    font-style: normal;
    font-weight: bold; }
  .content-block.content-product h3.sp-only {
    font-size: 1.2em;
    font-weight: 500;
    font-family: KozGoPr6N;
    color: #666;
    display: inline-block;
    margin-bottom: 10px; }
  .content-block.content-product .product-news-image img {
    max-width: 200px; }
  .product-news-text {
    padding: 10px 0;
    text-align: justify; }
    .product-news-text p:last-child {
      margin-bottom: 0; }
  .content-block.content-form {
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto; }
  .content-block.content-list {
    margin-top: 20px;
    margin-bottom: 0; }
    .content-block.content-list h2:first-child {
      display: none; }
    .content-block.content-list .post-new-text {
      border-bottom: 1px solid lightgrey; }
  .news-refresh {
    margin-top: 15px;
    margin-bottom: 45px; }
  .content-block.content-post {
    margin-top: 20px;
    margin-bottom: 10px; }
  .content-post .post-content-title {
    display: none; }
  .product-news-image {
    padding: 0; } }
